In [9]:
import tensorflow as tf
import pandas as pd

In [38]:
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import losses

In [7]:
dataset_path = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")

Downloading data from http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
30286/30286 [==============================] - 1s 20us/step

In [8]:
column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight', 'Acceleration', 'Model Year', 'Origin']

In [11]:
Raw_Dataset = pd.read_csv(dataset_path, names=column_names,na_values = "?", comment='\t',sep=" ", skipinitialspace=True)

In [13]:
dataset = Raw_Dataset.copy()
dataset.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [14]:
dataset.isna().sum() # Calculate the number of missing values
dataset = dataset.dropna() # Drop missing value records
dataset.isna().sum() #

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [15]:
origin = dataset.pop('Origin')
dataset['USA'] = (origin == 1)*1.0
dataset['Europe'] = (origin == 2)*1.0
dataset['Japan'] = (origin == 3)*1.0
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,USA,Europe,Japan
393,27.0,4,140.0,86.0,2790.0,15.6,82,1.0,0.0,0.0
394,44.0,4,97.0,52.0,2130.0,24.6,82,0.0,1.0,0.0
395,32.0,4,135.0,84.0,2295.0,11.6,82,1.0,0.0,0.0
396,28.0,4,120.0,79.0,2625.0,18.6,82,1.0,0.0,0.0
397,31.0,4,119.0,82.0,2720.0,19.4,82,1.0,0.0,0.0

In [16]:
train_dataset = dataset.sample(frac=0.8,random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [17]:
train_labels = train_dataset.pop('MPG')
test_labels = test_dataset.pop('MPG')

In [19]:
train_stats = train_dataset.describe()

train_stats = train_stats.transpose()

In [21]:
def norm(x): # minus mean and divide by std
    return (x - train_stats['mean']) / train_stats['std']
normed_train_data = norm(train_dataset)
normed_test_data = norm(test_dataset)

In [22]:
print(normed_train_data.shape,train_labels.shape)
print(normed_test_data.shape, test_labels.shape)

(314, 9) (314,)
(78, 9) (78,)

In [23]:
train_db = tf.data.Dataset.from_tensor_slices((normed_train_data.values, train_labels.values))
train_db = train_db.shuffle(100).batch(32)

In [31]:
class Network(keras.Model):
# regression network
 def __init__(self):
    super(Network, self).__init__()
# create 3 fully-connected layers
    self.fc1 = layers.Dense(64, activation='relu')
    self.fc2 = layers.Dense(64, activation='relu')
    self.fc3 = layers.Dense(1)
 def call(self, inputs, training=None, mask=None):
# pass through the 3 layers sequentially
    x = self.fc1(inputs)
    x = self.fc2(x)
    x = self.fc3(x)
    return x

In [34]:
model = Network()
model.build(input_shape=(4, 9))
model.summary()

Model: "network_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               multiple                  640

 dense_1 (Dense)             multiple                  4160

 dense_2 (Dense)             multiple                  65

=================================================================
Total params: 4,865
Trainable params: 4,865
Non-trainable params: 0
_________________________________________________________________

In [35]:
optimizer = tf.keras.optimizers.RMSprop(0.001)

In [39]:
for epoch in range(200): # 200 Epoch
    for step, (x,y) in enumerate(train_db): # Loop through training set once
# Set gradient tape
        with tf.GradientTape() as tape:
            out = model(x) # Get network output
            loss = tf.reduce_mean(losses.MSE(y, out))
# Calculate MSE
            mae_loss = tf.reduce_mean(losses.MAE(y, out))
# Calculate MAE
        if step % 10 == 0: # Print training loss every 10 steps
            print(epoch, step, float(loss))
# Calculate and update gradients
        grads = tape.gradient(loss, model.trainable_variables)
        optimizer.apply_gradients(zip(grads, model.trainable_variables))

0 0 601.9248657226562
1 0 506.06622314453125
2 0 441.37786865234375
3 0 418.7763366699219
4 0 374.80120849609375
5 0 240.62869262695312
6 0 177.2410888671875
7 0 174.1385498046875
8 0 149.60809326171875
9 0 102.56219482421875
10 0 115.32402038574219
11 0 82.42401885986328
12 0 76.43943786621094
13 0 96.1513671875
14 0 74.91209411621094
15 0 70.36837768554688
16 0 59.97703552246094
17 0 47.130638122558594
18 0 68.62931823730469
19 0 70.22525024414062
20 0 72.8553466796875
21 0 69.34324645996094
22 0 77.90042114257812
23 0 57.565269470214844
24 0 55.68667984008789
25 0 51.88151550292969
26 0 52.62668228149414
27 0 69.77803039550781
28 0 40.263065338134766
29 0 53.548553466796875
30 0 64.06443786621094
31 0 67.45335388183594
32 0 67.226318359375
33 0 62.112022399902344
34 0 77.23236083984375
35 0 74.9248046875
36 0 49.495880126953125
37 0 71.80935668945312
38 0 58.23086166381836
39 0 50.97840881347656
40 0 62.961063385009766
41 0 77.905029296875
42 0 70.5030288696289
43 0 59.59743881225586
44 0 58.53321838378906
45 0 72.59432983398438
46 0 58.97361755371094
47 0 80.71247863769531
48 0 64.03356170654297
49 0 57.74713134765625
50 0 72.07929992675781
51 0 71.66850280761719
52 0 68.6808090209961
53 0 70.29016876220703
54 0 74.83366394042969
55 0 57.43700408935547
56 0 62.24592590332031
57 0 73.03243255615234
58 0 83.29902648925781
59 0 57.71621322631836
60 0 75.4007568359375
61 0 64.87516784667969
62 0 58.88951873779297
63 0 70.7365493774414
64 0 76.98614501953125
65 0 54.717220306396484
66 0 67.65753173828125
67 0 70.70079040527344
68 0 73.06245422363281
69 0 56.466209411621094
70 0 42.72709274291992
71 0 73.28245544433594
72 0 54.927490234375
73 0 68.53507232666016
74 0 50.433807373046875
75 0 90.04864501953125
76 0 55.74835205078125
77 0 51.7933464050293
78 0 52.07691955566406
79 0 60.02946090698242
80 0 63.607765197753906
81 0 57.543190002441406
82 0 70.5041732788086
83 0 71.447998046875
84 0 69.80025482177734
85 0 69.14697265625
86 0 61.07407760620117
87 0 83.88984680175781
88 0 62.101680755615234
89 0 76.52283477783203
90 0 72.85372924804688
91 0 58.2015380859375
92 0 93.25794219970703
93 0 78.85346984863281
94 0 62.9543342590332
95 0 73.84037780761719
96 0 54.716102600097656
97 0 71.60269165039062
98 0 53.706520080566406
99 0 46.17378616333008
100 0 60.575897216796875
101 0 63.159828186035156
102 0 34.004966735839844
103 0 54.000938415527344
104 0 77.06947326660156
105 0 62.407958984375
106 0 57.097442626953125
107 0 35.88912582397461
108 0 55.94398880004883
109 0 53.89944839477539
110 0 67.50965118408203
111 0 54.60392761230469
112 0 50.75400161743164
113 0 77.54296875
114 0 53.17442321777344
115 0 61.83751678466797
116 0 83.72164916992188
117 0 62.80103302001953
118 0 76.51971435546875
119 0 53.07768249511719
120 0 68.252685546875
121 0 53.185447692871094
122 0 100.05548095703125
123 0 58.9995002746582
124 0 56.394073486328125
125 0 64.6054916381836
126 0 75.86618041992188
127 0 75.3460922241211
128 0 49.60673522949219
129 0 71.4334945678711
130 0 65.03511047363281
131 0 61.50347137451172
132 0 80.52339172363281
133 0 61.62202835083008
134 0 54.87485885620117
135 0 73.53819274902344
136 0 42.71781921386719
137 0 70.35665130615234
138 0 81.9800796508789
139 0 52.63975143432617
140 0 72.55888366699219
141 0 61.03764724731445
142 0 64.69656372070312
143 0 40.157779693603516
144 0 81.0701904296875
145 0 58.81452941894531
146 0 79.0970230102539
147 0 64.83316040039062
148 0 73.51165771484375
149 0 85.30429077148438
150 0 55.991371154785156
151 0 70.56877136230469
152 0 75.35777282714844
153 0 49.83753204345703
154 0 71.04905700683594
155 0 64.11772155761719
156 0 53.271446228027344
157 0 47.559940338134766
158 0 72.36648559570312
159 0 60.7620849609375
160 0 50.847991943359375
161 0 69.32733917236328
162 0 47.29853820800781
163 0 51.168060302734375
164 0 80.41341400146484
165 0 76.97909545898438
166 0 54.75645446777344
167 0 89.24524688720703
168 0 70.45716857910156
169 0 97.92986297607422
170 0 77.14252471923828
171 0 59.5526008605957
172 0 44.725730895996094
173 0 53.95197677612305
174 0 55.18861389160156
175 0 60.86041259765625
176 0 78.52323913574219
177 0 55.049522399902344
178 0 74.09426879882812
179 0 63.669639587402344
180 0 67.13094329833984
181 0 55.455623626708984
182 0 48.80801010131836
183 0 70.74908447265625
184 0 62.544578552246094
185 0 66.0537109375
186 0 50.0306396484375
187 0 46.00117111206055
188 0 52.03244400024414
189 0 69.45148468017578
190 0 54.46735382080078
191 0 58.871768951416016
192 0 42.106895446777344
193 0 64.1009750366211
194 0 59.343013763427734
195 0 66.42108154296875
196 0 36.29668426513672
197 0 71.62065887451172
198 0 60.55084991455078
199 0 58.97322463989258